@using MainTz.Web.ViewModels.UserViewModels
@model UserResponse

<td>
    @Model.Id
</td>

<td>
    @Model.Name
</td>

<td>
    @Model.Email
</td>

<td>
    @Model.Password
</td>

<td>
    @Model.Role.Name
</td>
<td>
    @if (Model.Role.Name == "User")
    {
        <button class="custom-warning-btn" onclick="ChangeFavoriteCarById(@Model.Id)">
            Повысить до Manager
        </button>
    }
    else if(Model.Role.Name == "Manager")
    {
        <button class="custom-warning-btn" onclick="ChangeFavoriteCarById(@Model.Id)">
            Понизить до User
        </button>
    }
    else
    {
        <button class="custom-warning-btn">Администратор</button>
    }
</td>